In [1]:
#Import dependencies
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Read csv file
path_intake="raw_data/Austin_Animal_Center_Intakes.csv"
path_outcome="raw_data/Austin_Animal_Center_Outcomes.csv"
path_map="raw_data/Austin_Animal_Center_Found_Pets_Map.csv"

In [3]:
animal_intake=pd.read_csv(path_intake)
animal_intake.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,01/03/2019 04:19:00 PM,01/03/2019 04:19:00 PM,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,07/05/2015 12:59:00 PM,07/05/2015 12:59:00 PM,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,04/14/2016 06:43:00 PM,04/14/2016 06:43:00 PM,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,10/21/2013 07:59:00 AM,10/21/2013 07:59:00 AM,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,06/29/2014 10:38:00 AM,06/29/2014 10:38:00 AM,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [4]:
animal_intake.columns

Index(['Animal ID', 'Name', 'DateTime', 'MonthYear', 'Found Location',
       'Intake Type', 'Intake Condition', 'Animal Type', 'Sex upon Intake',
       'Age upon Intake', 'Breed', 'Color'],
      dtype='object')

In [5]:
animal_outcome=pd.read_csv(path_outcome)
animal_outcome.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,Chunk,05/08/2019 06:20:00 PM,05/08/2019 06:20:00 PM,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,07/18/2018 04:02:00 PM,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A720371,Moose,02/13/2016 05:59:00 PM,02/13/2016 05:59:00 PM,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
3,A674754,NaN,03/18/2014 11:47:00 AM,03/18/2014 11:47:00 AM,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby
4,A689724,*Donatello,10/18/2014 06:52:00 PM,10/18/2014 06:52:00 PM,08/01/2014,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Black

In [7]:
animal_outcome.columns

Index(['Animal ID', 'Name', 'DateTime', 'MonthYear', 'Date of Birth',
       'Outcome Type', 'Outcome Subtype', 'Animal Type', 'Sex upon Outcome',
       'Age upon Outcome', 'Breed', 'Color'],
      dtype='object')

In [6]:
animal_map=pd.read_csv(path_map)
animal_map.head()

,Animal ID,Found Location,At AAC,Intake Date,Type,Looks Like,Color,Sex,Age,Image Link
0,A800046,1116 FAIRCREST DRIVE\nAUSTIN 78753\n(30.406404...,Yes (come to the shelter),05/28/2020,Dog,Chihuahua Shorthair,Tan/White,Neutered Male,10 years,http://www.petharbor.com/pet.asp?uaid=ASTN.A80...
1,A818084,"1622 HASKELL\nAUSTIN 78702\n(30.253384, -97.72...",No (contact for more info),06/01/2020,Dog,Flat Coat Retriever Mix,Black,Unknown,1 year,http://www.petharbor.com/pet.asp?uaid=ASTN.A81...
2,A818079,"4630 KILLINGSWORTH LANE78660\n(30.406004, -97....",Yes (come to the shelter),06/01/2020,Dog,Labrador Retriever/Australian Shepherd,Brown/White,Intact Male,1 year,http://www.petharbor.com/pet.asp?uaid=ASTN.A81...
3,A818024,"AUSTIN 78745\n(30.206782, -97.798214)",Yes (come to the shelter),05/31/2020,Dog,Chihuahua Shorthair,Black/White,Intact Female,4 weeks,http://www.petharbor.com/pet.asp?uaid=ASTN.A81...
4,A818022,"8922 MENCHACA RD\nAUSTIN 78748\n(30.182544, -9...",Yes (come to the shelter),05/31/2020,Cat,Domestic Shorthair,Black/Black,Intact Male,2 years,http://www.petharbor.com/pet.asp?uaid=ASTN.A81...

In [8]:
animal_map.columns

Index(['Animal ID', 'Found Location', 'At AAC', 'Intake Date', 'Type',
       'Looks Like', 'Color', 'Sex', 'Age', 'Image Link'],
      dtype='object')